---
layout: default
title: Blog
permalink: /blog/
---

<div class="blog">
  <h1>Blog</h1>
  <p class="blog-intro">Thoughts on software engineering, mobile development, and technology.</p>

  {% if site.posts.size > 0 %}
    <ul class="post-list">
      {% for post in site.posts %}
        <li class="post-item">
          <a href="{{ post.url | relative_url }}">
            <h2>{{ post.title }}</h2>
          </a>
          <div class="post-meta">
            <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time>
            {% if post.author %} &bull; {{ post.author }}{% endif %}
          </div>
          <p class="post-excerpt">{{ post.description }}</p>
          <a href="{{ post.url | relative_url }}" class="read-more">Read more &rarr;</a>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No posts yet. Check back soon!</p>
  {% endif %}
</div>
